extends layout

block content
  h2= title
  h3 Here is a list of popular musics across the globe...
  table.table.table-striped.table-light
    thead
      td #
      td.fw-bold Album
      td.fw-bold Artist
      td.fw-bold Songs 
      td.fw-bold Year Of Release 
      td.fw-bold Rating
    tbody
      each item in musics 
        tr
          td #{item.id}
          td #{item.album}
          td #{item.artist}
          td #{item.songs}
          td #{item.yearOfRelease}
          td #{items.rating}
            
